{
  "root": true,
  "parserOptions": {
    "sourceType": "module"
  },
  "extends": [
    "standard"
  ],
  "plugins": [
    "html"
  ],
  "globals": {
    "NODE_ENV": true
  },
  "env": {
    "es6": true,
    "browser": true,
    "node": true,
    "jasmine": true
  },
  "rules": {
    "no-console": "off",
    "arrow-parens": "off",
    "space-before-function-paren": ["error", {"anonymous": "always", "named": "never"}],
    "no-debugger": "off",
    "no-var": "error",
    "prefer-promise-reject-errors": ["off"]
  }
}
